%h1 Listing dashboards

%table
  %tr
    %th
    %th
    %th

  - @dashboards.each do |dashboard|
    %tr
      %td= link_to 'Show', dashboard
      %td= link_to 'Edit', edit_dashboard_path(dashboard)
      %td= link_to 'Destroy', dashboard, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dashboard', new_dashboard_path
