// Place all the styles related to the Dashboards controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.mas-box {
  width: 123px;
  height: 170px;
  padding: 5px;
  margin: 5px;
  text-align: center;
}

.shutter {
  display: none;
  position: absolute;
  bottom: 0px;

}

.mas-box:hover .shutter {
  display: block;
  position: absolute;
}